<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <!--<add name="EuroVedicSpaConnectionString" connectionString="Data Source=cowpc\sqlexpress;Initial Catalog=KavitaClients;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
!-->

    <add name="EuroVedicSpaConnectionString" connectionString="Data Source=eurovedicspa.com;Initial Catalog=evs_uhkh;User ID=cow_hegde; password=e1r3v2d4;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <add name="EuroVedicSpaLocalConnectionString" connectionString="Data Source=cowpc\sqlexpress;Initial Catalog=KavitaClients;Integrated Security=True;MultipleActiveResultSets=True;"  providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  
  <location path="admin.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow users="uday"/>
        <allow users="kavitahegde@hotmail.com"/>
        <deny users="*" />        
      </authorization>
    </system.web>
  </location>



  <location path="administration">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow users="uday"/>
        <allow users="kavitahegde@hotmail.com"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>



  <system.web>

    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH" defaultUrl="home.aspx" protection="All">
      </forms>
    </authentication>

    <authorization>
      <allow roles="user"/>
      <allow roles="admin"/>
      <allow users="*" />
      <!--
    <authorization>
      <allow users="?" />!-->
    </authorization>



    <compilation debug="false" targetFramework="4.0">

    </compilation>


  </system.web>
   
  
</configuration>